{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">

    <div class="row">
        {% for data in blogs  %}
        <div class="col-sm-6">

            <a href="{{ data.get_absolute_url }}" id="blogimg">
                <div class="card">
                    <img src="{{data.image.url}}" class="card-img-top" alt="{{data.title}}">
                    <div class="card-body">

                        <h5 class="card-title">{{data.title}}</h5>
                        <p class="card-text">{{data.publisher}}.</p>
                        <a href="{{ data.get_absolute_url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </a>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}