{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}



<div class="container">
    <div class="row">
        {% if messages %} {% for message in messages %}
        <div class="col-md-12 alert alert-{{ message.tags }} message" align="center"
            style="z-index: 2;position:absolute; margin-top: 5%;">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row" id="blog">

        <!-- dispay the blog items in a loop -->
        {% for data in blogs  %}
        <div class="col-sm-6">

            <a href="{{ data.get_absolute_url }}" id="blogimg">
                <div class="card">
                    <img src="{{ MEDIA_URL }}{{data.image.url}}" class="card-img-top" alt="{{data.title}}">
                    <div class="card-body">

                        <h5 class="card-title">{{data.title}}</h5>
                        <p class="card-text">{{data.publisher}}.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{ data.get_absolute_url }}" class="btn btn-primary">Read More <i
                                        class="fa fa-chevron-circle-right"></i></a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'delete_blog' blog_id=data.id %}" class="btn btn-danger">Delete <i
                                        class="fa fa-remove"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </a>

        </div>
        {% endfor %}

    </div>

    <!-- blog pargination area -->
    <div class="row" id="pagination">
        <div class="col-md-12 ">
            {% if blogs.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if blogs.has_previous %}
                <li><a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in blogs.paginator.page_range %}
                {% if blogs.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span
                            class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if blogs.has_next %}
                <li><a class="page-link" href="?page={{ blogs.next_page_number }}" id="next">Next</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}