<footer class="footer-distributed">

    <div class="footer-right">

        <a href="http://www.linkedin.com/in/brian-ng-eno" target="blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/BrianNgeno" target="blank"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="{% url 'blog'%}">Home</a>
            |
            <a href="{% url 'blog'%}">Blog</a>
            |
            <a href="{% url 'upload_blog' %}">Add Blog</a>
     
        </p>

        <p>Brian's Blog &copy; 2022</p>
    </div>

</footer>