<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'blog'%}">Brian Blog</a>
        <a href="{% url 'upload_blog' %}"> <button class="btn btn-primary btn-sm">  Add Blog <i class="fa fa-arrow-circle-up"></i></button></a>
        <form class="d-flex" action="{% url 'search' %}">
            <input class="form-control me-2" type="search"  name="search" placeholder="Search.." aria-label="Search">
            <input class="btn btn-primary" type="submit" value="search">
        </form>

    </div>
</nav>