{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-md-4" align="center" id="info">
            <h1>Blog Upload</h1>

            <p>Fill out the form provided to be able to upload your Blog</p>
        </div>

        <div class="col-md-8 card" id="card">
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                {{ form.as_p|safe }}
                <button class="btn btn-outline-info">Submit Data</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}